@{
    ViewBag.Title = "About";
}
<h2>Abdul Rehman Khan</h2>
<h3>021-18-45278</h3>
<h3>BS(SE) - Software Engineering</h3>

<p>
    Hi, My name is Abdul Rehman Khan. I am a Web Developer & Graphic Designer, and  Experienced working with teams to produce impactful, leading-edge websites that engage customers
    and deliver business results. Well-versed in design standards and user preferences. Knowledgeable
    Front End Developer adept at creating successful websites that meet customer needs. Specializing in
    collaborating with corporate customers to gather requirements, produce plans and improve designs for
    usability and functionality. Fully proficient in Asp.net, UI & UX Designing and Graphic Designing..
</p>
